* {
  font-family: VictorMono NFM;
  font-size: 16px;
}

window#waybar {
  background-color: rgba(43, 28, 47, 0.5);
}

button {
  box-shadow: inset 0 -3px transparent;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: rbga(255, 0, 0, 1);
}
