.bar_class {
  background-color: $base;
  margin-bottom: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  padding: 5px;
}

.wrapper_box {
  background-color: $surface;
  border-radius: 20px;
  padding: 5px;
}

.module {
  margin: 0px 0px 0px 0px;
  border-radius: 10px 16px 0px 10px;
}
