@use 'colors' as *;

@mixin bar-group-rounding {
  border-radius: 0.818rem;
  -gtk-outline-radius: 0.818rem;
}

@mixin large-rounding {
  border-radius: 1.705rem;
  -gtk-outline-radius: 1.705rem;
}

.corner {
  @include large-rounding;
  background-color: $layer0;
}

.bar-normal {
  background-color: $layer0;
  min-height: 2.727rem;
}

.bar-group {
  background-color: $layer1;
}

/* Adds space between top/bottom of bar for CHILDREN */
.bar-group-margin {
  padding: 0.273rem 0rem;
}

/* Adds space between self and right child */
.bar-group-spaced {
  margin-right: 0.205rem;
}

/* Inner padding */
.bar-group-pad {
  padding: 0.205rem;
  min-width: 2px;
}

/* Inner padding */
.bar-group-pad-system {
  padding: 0rem 0.341rem;
}

.bar-group-standalone {
  @include bar-group-rounding;
  -gtk-outline-radius: 1.364rem;
}

.bar-corner-spacer {
  min-width: 1.705rem;
  min-height: 1.705rem;
}

/* Battery */
.bar-battery {
  min-height: 1.77rem;
  min-width: 1.77rem;
  border-radius: 10rem;
}

// Apply color change transition to all children
.bar-battery>* {
  transition: all 1s ease;
}

.bar-battery-icon {
  color: $battOnLayer1;
}

.bar-battery-text {
  padding-left: 0.273rem;
  color: $battOnLayer1;
}

.bar-battery-circprog {
  min-width: 0.136rem;
  min-height: 1.636rem;
  padding: 0rem;
  background-color: $battLayer2;
  color: $battOnLayer2;
}

.bar-battery-low {
  background-color: $errorLayer;
  color: $onErrorLayer;
  transition: all 1s ease;
}

.bar-battery-text-low {
  padding-left: 0.273rem;
  color: $onErrorLayer;
}

.bar-battery-icon-low {
  color: $onErrorLayer;
}

.bar-battery-circprog-low {
  background-color: $errorLayer;
  color: $onErrorLayer;
}
/* --- */

/* Clock */
.bar-clock-box {
  margin: 0rem 0.682rem;
}

.bar-time {
  color: $timeOnLayer1;
}

.bar-date {
  color: $dateOnLayer1;
}
/* --- */

/* Tray */
.bar-tray-button {}

.bar-tray-arrow {}
/* --- */

/* System */
.bar-system-item {
  @include bar-group-rounding;
  min-width: 1.77rem;
  min-height: 1.77rem;
  background-color: $systemLayer2;
  color: $systemOnLayer2;
}

.bar-system-item-circprog {
  min-width: 0.136rem;
  min-height: 1.636rem;
  padding: 0rem;
}
/* --- */

/* Window Title */
.bar-window-title-desc {
  color: $windowtitleOnLayer0Inactive;
}

.bar-window-title {
  color: $windowtitleOnLayer0;
}
/* --- */

/* Workspaces */
.bar-ws {
  min-width: 1.774rem;
  color: $workspaceOnLayer1Inactive;
}

.bar-ws-active {
  background-color: $layer3;
  color: $onLayer3;
}

.bar-ws-occupied {
  background-color: $layer2;
  color: $onLayer2;
}
/* --- */
