@use 'colors';

@mixin bar-group-rounding {
  border-radius: 0.818rem;
  -gtk-outline-radius: 0.818rem;
}

.bar-normal {
  // Layer 0
  background-color: $background;
  min-height: 2.727rem;
}

.bar-group {
  // Layer 1
  background-color: #222222;
}

/* Adds space between top/bottom of bar for CHILDREN */
.bar-group-margin {
  padding: 0.273rem 0rem;
}

/* Adds space between self and right child */
.bar-group-spaced {
  margin-right: 0.205rem;
}

/* Inner padding */
.bar-group-pad {
  padding: 0.205rem;
  min-width: 2px;
}

/* Inner padding */
.bar-group-pad-system {
  padding: 0rem 0.341rem;
}

.bar-group-standalone {
  @include bar-group-rounding;
  -gtk-outline-radius: 1.364rem;
}

.bar-battery {
  min-height: 1.77rem;
  min-width: 1.77rem;
  border-radius: 10rem;
}

.bar-battery-label-icon {
  // Battery On Layer 1
  color: #FFFFFF;
}

.bar-battery-text {
  padding-left: 0.273rem;
  // Battery On Layer 1
  color: #00FF00;
}

.bar-battery-circprog {
  min-width: 0.136rem;
  min-height: 1.636rem;
  padding: 0rem;
  // Battery Layer 2
  background-color: #FFFF00;
  // Battery On Layer 2
  color: #FF0000;
}

.bar-battery-low {
  // Error
  background-color: #0000FF;
  // Error Container
  color: #FFFFFF;
}

.bar-battery-label-icon-low {
  // Error Container
  color: #FFFFFF;
}

.bar-battery-circprog-low {
  // Error
  background-color: #0000FF;
  // Error Container
  color: #FFFFFF;
}

.bar-clock-box {
  margin: 0rem 0.682rem;
}

.bar-ws {
  min-width: 1.774rem;
  // Workspace On Layer 1 Inactive
  color: #BBBBBB;
}

.bar-ws-active {
  // Layer 3
  background-color: #DDDDDD;
  // Workspace On Layer 3
  color: #000000;
}

.bar-ws-occupied {
  // Layer 2
  background-color: #444444;
  // Workspace On Layer 2
  color: #FFFFFF;
}
