@use 'theme' as *;

$layer0: $background;
$onLayer0: $onBackground;
$layer0Hover: mix($layer0, $onLayer0, 85%);
$layer0Active: $surfaceContainerHigh;
$onLayer0Active: $onSurface;
$onLayer0Inactive: mix($onLayer0, $layer0, 70%);

$layer1: $surfaceContainerLow;
$onLayer1: $onSurface;
$layer1Hover: mix($layer1, $onLayer1, 85%);
$layer1Active: mix($layer1, $onLayer1, 70%);
$onLayer1Inactive: mix($onLayer1, $layer1, 45%);
$onLayer1: $onSurfaceVariant;

$layer2: mix($surfaceContainer, $surfaceContainerHigh, 55%);
$onLayer2: $onSurface;
$layer2Hover: mix($layer2, $onLayer2, 90%);
$layer2Active: mix($layer2, $onLayer2, 80%);

$layer3: $surfaceContainerHigh;
$onLayer3: $onSurface;
$layer3Hover: mix($layer3, $onLayer3, 90%);
$layer3Active: mix($layer3, $onLayer3, 80%);

$errorLayer: $error;
$onErrorLayer : $onError;
$errorLayerContainer: $errorContainer;

$windowtitleOnLayer0Inactive: $onLayer0Inactive;
$windowtitleOnLayer0: $onLayer0;
$barspacerightOnLayer0: $onLayer0;
$timeOnLayer1: $onLayer1;
$dateOnLayer1: $onLayer1;
$battOnLayer1: $onLayer1;
$battLayer2: $secondaryContainer;
$battOnLayer2: $onSecondaryContainer;
$workspaceOnLayer1Inactive: $onLayer1Inactive;
$workspaceLayer3: $primary;
$workspaceOnLayer3: $onPrimary;
$workspaceOnLayer2: $onSecondaryContainer;
$windowtitleOnLayer0Inactive: $onLayer0Inactive;
$windowtitleOnLayer0: $onLayer0;
