@use 'colors' as *;

* {
  all: unset;
}

.icon-material {
  font-family: "Material Symbols Rounded", "MaterialSymbolsRounded", "Material Symbols Outlined", "Material Symbols Sharp";
}

.txt-norm {
  font-size: 1.24rem;
}

.txt-on-layer1 {
  color: $onLayer1;
}

.txt-small {
  font-size: 1.115rem;
}

.txt-smallie {
  font-size: 1rem;
}

.txt-smaller {
  font-size: 0.9091rem;
}
