@use 'bar/battery.scss';
@use 'bar/datetime.scss';

* {
  all: unset;
}

.small-text {
  font-size: 0.7rem;
}

.big-text {
  font-size: 1.5rem;
}

window.Bar {
  border: none;
  background-color: black;
  color: white;

  button {
    all: unset;
    background-color: transparent;
    padding-left: .5rem;
    padding-right: .5rem;
    border: 1px solid blueviolet;
  }

  /* DEBUG */
  .bar-left {
    border: 1px solid red;
  }

  .bar-center {
    border: 1px solid green;
  }

  .bar-right {
    border: 1px solid blue;
  }

  .Workspaces .focused {
    border-color: aqua;
  }
}
