* {
  all: unset;
}

.small-text {
  font-size: 0.7rem;
}

window.Bar {
  border: none;
  background-color: black;
  color: white;

  button {
    all: unset;
    background-color: transparent;
    padding-left: .5rem;
    padding-right: .5rem;
    border: 1px solid blueviolet;
  }

  /* DEBUG */
  .bar-left>* {
    color: red;
    border: 1px solid red;
  }

  .bar-center>* {
    color: green;
    border: 1px solid green;
  }

  .bar-right>* {
    color: blue;
    border: 1px solid blue;
  }

  .Workspaces .focused {
    border-color: aqua;
  }

  .datetime-module {
    border-radius: 5px;
    border: 1px solid white;
    color: white;

    .day-kanji {
      background-color: white;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      color: black;
      font-weight: bold;
      padding: 0 0.2rem;
    }

    .date {
      margin: 0.2rem 0.2rem 0 0.2rem;
    }
    .time {
      margin-left: 0.2rem;
    }
  }
}
