.battery-module {
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  transition: 250ms linear;

  .icon-block {
    background-color: white;
    color: black;
    transition: inherit;

    .battery-icon {
      padding: 0 0.2rem;
    }
    .charging-icon {
      font-size: 0.8rem;
    }
  }

  .percentage {
    font-weight: bold;
    padding: 0.2rem;
  }
}

.battery-module.critical {
  border-color: palevioletred;
  color: palevioletred;

  .icon-block {
    background-color: palevioletred;
  }
}


