.system-module {
  .component-icon {
    font-size: 0.7rem;
    padding: 0.3rem;
    color: transparentize($color: white, $amount: 0.25);
  }
  .graph-text {
    font-size: 0.7rem;
    padding: 0.2rem;
  }

  .cpu {
    .graph {
      min-width: 75px;
      min-height: 50px;
    }
    .percent {
      border: 2px solid transparentize($color: white, $amount: 0.7);
      color: transparentize($color: white, $amount: 0.8);
    }
    .temp {
      border: 2px solid darkred;
    }
  }

  .ram {
    .graph {
      min-width: 75px;
      min-height: 50px;
      border: 2px solid transparentize($color: white, $amount: 0.7);
      color: transparentize($color: white, $amount: 0.8);
    }
  }
}
